NEXT_PUBLIC_SITE_URL=

# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# ADMIN
SUPABASE_ADMIN_SERVICE_ROLE_KEY=
ADMIN_PASSWORD=
# Google email allowed list (comma separated)
ADMIN_EMAIL_ALLOWED_LIST=
# Set to true only on local to enable non-OAuth (password) login
ADMIN_ADMIN_ENABLE_PASSWORD_LOGIN=
