@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .admin h1,
  .admin .h1,
  .admin h2,
  .admin .h2,
  .admin h3,
  .admin .h3,
  .admin h4,
  .admin .h4,
  .admin h5,
  .admin .h5,
  .admin h6,
  .admin .h6 {
    @apply text-black;
  }

  .error-text {
    @apply !font-bold !text-red-500;
  }

  /* Fields */
  .admin-field-label {
    @apply text-sm font-bold;
  }

  .admin-field-input,
  .admin-field-textarea {
    @apply w-full rounded border border-gray-900 p-3 text-sm;
  }

  .textarea-autoresize {
    @apply min-h-[120px] max-h-[70vh] resize-none overflow-hidden;
  }

  .admin-field-switch {
    @apply relative block w-[44px] h-[24px];
  }

  .admin-field-switch-input {
    @apply opacity-0 w-0 h-0;
  }

  .admin-field-switch-slider {
    @apply absolute inset-0 rounded-[24px] bg-[#ccc] cursor-pointer;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }

  .admin-field-switch-slider::before {
    @apply absolute left-[4px] bottom-[4px] rounded-full w-[16px] h-[16px] bg-white;
    content: '';
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }

  .admin-field-switch-input:checked + .admin-field-switch-slider {
    @apply bg-primary-500;
  }

  .admin-field-switch-input:focus + .admin-field-switch-slider {
    box-shadow: 0 0 1px #ffb603;
  }

  .admin-field-switch-input:checked + .admin-field-switch-slider::before {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
  }

  /* Buttons */
  .btn {
    @apply rounded px-4 py-2 font-bold cursor-pointer;
    box-shadow: none;
  }

  .btn:disabled {
    @apply !border-gray-400 !bg-gray-400 cursor-not-allowed;
  }

  .btn-primary {
    @apply bg-black text-white;
  }

  .btn-secondary {
    @apply border-gray-900 bg-white hover:bg-gray-300;
  }

  /* Editor */
  .editor {
    @apply pb-6;
  }

  .editor .editor-row {
    @apply flex flex-col md:flex-row justify-between items-stretch gap-3;
  }

  .editor .editor-row-col {
    @apply flex-1;
  }

  /* Data List */
  .data-list-item {
    @apply block rounded-lg border border-gray-900 px-4 py-3 hover:bg-muted transition;
  }

  .data-list-item:hover {
    @apply bg-muted;
  }

  .badge {
    @apply rounded-full px-2 py-0.5 font-bold text-xs text-white;
  }

  .badge-success {
    @apply bg-green-500;
  }

  .badge-error {
    @apply bg-red-500;
  }
}
