@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-*: initial;
  --breakpoint-xxxl: 2560px;
  --breakpoint-xxl: 1440px;
  --breakpoint-xl: 1280px;
  --breakpoint-lg: 1024px;
  --breakpoint-xxmd: 960px;
  --breakpoint-xmd: 854px;
  --breakpoint-md: 768px;
  --breakpoint-xsm: 640px;
  --breakpoint-sm: 480px;
  --breakpoint-xs: 375px;
  --breakpoint-xxs: 310px;

  --breakpoint-desktop: var(--breakpoint-xxl);
  --breakpoint-desktop-inner: var(--breakpoint-xl);

  --color-primary-50: #fef3d6;
  --color-primary-100: #f7f5bc;
  --color-primary-200: #f1ee8e;
  --color-primary-300: #ece75f;
  --color-primary-400: #e8e337;
  --color-primary-500: #e5de00;
  --color-primary-600: #e6cc00;
  --color-primary-700: #e6b400;
  --color-primary-800: #e69b00;
  --color-primary-900: #e47200;

  --color-white: #fff;
  --color-black: #0a0a0a;
  --color-gray-50: #ededed;
  --color-gray-100: #f2eeec;
  --color-gray-200: #f6f6f6;
  --color-gray-300: #e7e6df;
  --color-gray-500: #3b3f46;
  --color-gray-600: #2a2e34;
  --color-gray-700: #1e2328;
  --color-gray-800: #171717;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-base-primary: var(--color-primary-800);
}

:root {
  --background: var(--color-white);
  --foreground: var(--color-gray-800);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-black);
    --foreground: var(--color-gray-50);
  }
}

body {
  @apply w-screen h-dvh;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main,
section {
  @apply mx-auto my-0 max-w-[var(--breakpoint-desktop)];
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
p {
  @apply font-sans;
}

h1,
.h1 {
  @apply text-base-primary font-extrabold text-5xl leading-[3rem];
}

h2,
.h2 {
  @apply text-base-primary font-bold text-4xl leading-[2.25rem];
}

h3,
.h3 {
  @apply text-base-primary font-bold text-3xl leading-[1.875rem];
}

h4,
.h4 {
  @apply text-black font-bold text-2xl leading-[1.5rem];
}

h5,
.h5 {
  @apply text-black font-bold text-xl leading-[1.25rem];
}

h6,
.h6 {
  @apply text-black font-bold text-lg leading-[1.125rem];
}

ol,
ul,
li,
p,
.p {
  @apply text-black font-normal text-base leading-[1rem];
}

b,
strong {
  @apply font-bold;
}

@media screen and (max-width: theme(--breakpoint-md)) {
  h1,
  .h1 {
    @apply text-4xl leading-[2.25rem];
  }

  h2,
  .h2 {
    @apply text-3xl leading-[1.875rem];
  }

  h3,
  .h3 {
    @apply text-2xl leading-[1.5rem];
  }

  h4,
  .h4 {
    @apply text-xl leading-[1.25rem];
  }

  h5,
  .h5 {
    @apply text-lg leading-[1.125rem];
  }

  h6,
  .h6 {
    @apply text-base leading-[1rem];
  }
}
